{% extends 'layout/base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}
{% block body %}
    <p> you are login as <span class="bg-success">{{ app.user.nomComplet }}</span></p>

<h1 class="text-center">HOME PAGE</h1>
{% endblock %}
