{% extends 'layout/base.html.twig' %}

{% block title %}Hello RPController!{% endblock %}

{% block body %}
{% for rp in rp %}
   <h1 class="h3"> {{ rp.nomComplet }} </h1>
{% endfor %}
{% endblock %}
