<footer class="text-center text-white">
    <!-- Grid container -->
    <div class="container pt-4" style="color: black">
        <!-- Section: Social media -->
        <section class="mb-4">
            <!-- Facebook -->
            <a class="btn btn-link btn-floating btn-lg text-dark m-1"
                    href="https://www.facebook.com/khadim.niass.3/"
                    role="button"
                    data-mdb-ripple-color="dark"><i class="fab fa-facebook-f"></i></a>
            <!-- Twitter -->
            <a
                    class="btn btn-link btn-floating btn-lg text-dark m-1"
                    href="https://twitter.com/NiassKhadim2"
                    role="button" data-mdb-ripple-color="dark"><i class="fab fa-twitter"></i>
            </a>
            <!-- Google -->
            <a class="btn btn-link btn-floating btn-lg text-dark m-1"
                    href="mailto:niassssn@gmail.com"
                    role="button"
                    data-mdb-ripple-color="dark">
                <i class="fab fa-google"></i>
            </a>
            <!-- Instagram -->
            <a
                    class="btn btn-link btn-floating btn-lg text-dark m-1"
                    href="https://www.instagram.com/khadim_niasss/"
                    role="button"
                    data-mdb-ripple-color="dark"><i class="fab fa-instagram"></i>
            </a>
            <!-- Linkedin -->
            <a
                    class="btn btn-link btn-floating btn-lg text-dark m-1"
                    href="https://www.linkedin.com/in/khadim-niass-aaaa9b175/"
                    role="button"
                    data-mdb-ripple-color="dark"
            ><i class="fab fa-linkedin"></i
                ></a>
            <!-- Github -->
            <a
                    class="btn btn-link btn-floating btn-lg text-dark m-1"
                    href="https://www.github.com/khadimniass"
                    role="button"
                    data-mdb-ripple-color="dark"
            ><i class="fab fa-github"></i
                ></a>
        </section>
        <!-- Section: Social media -->
    </div>
    <div class="text-center text-dark p-3 bg-primary">
        <p class="text-gray-400">
            &copy CopyRight {{'now'|date('Y')}} &middot; <a href="#" class="text-light hover:text-indigo-600 underline">About Me</a>
        </p>
</footer>
    </div>
</footer>
{# ccucad12345 #}
{# ccucad12345 #}
{# ccucad12345 #}
{# ccucad12345 #}
